body.brochures-page {
    background-color: $satin;
    .hero.extended-bottom-padding {
        margin-bottom: -240px;
    }
    .hero-background-gradient {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), $satin);
    }
}