body.events-list {
    background-color: $satin;
    .hero-cards .block-card .hero-card {
        .header {
            margin-bottom: 0;
        }
    }
    .block-image_section,
    .block-split_image_text_card_section {
        @include xy-grid();
        justify-content: center;
        .image-section,
        .split-image-text-card-section  {
            @include xy-cell(10);
        }
    }
    .block-static_text_section {
        .static-section-header {
            margin-top: 100px;
            margin-bottom: 50px;
        }
    }
    .block-static_text_section,
    .block-events_footer {
        .static-section-header {
            color: $text-black;
            @include xy-cell(10);
            .body,
            .tagline {
                color: $text-charcoal;
            }
            .body {
                p {
                    @extend .font-d;
                    @extend .size-2;
                    font-weight: normal;
                }
            }
            .center-vertical-line {
                border-left-color: $gray-bar;
            }
        }
    }
}