body.experience-detail {
    background-color: $satin;
    #main {
        padding-bottom: 120px;
    }
    .hero .hero-background-wrapper {
        padding-bottom: 150px;
        .static-section-header .body {
            font-style: italic;
            font-weight: bold;
            @include breakpoint(xxlarge) {
                font-style: normal;
                font-weight: unset;
            }
        }
    }
}