.guest-profile-form-page {

  .hero .hero-background-wrapper {
    background-position-y: bottom;
  }

  .form-right {
    width: 100% !important; // TODO: !important not ideal, need to find better styling solution at some point
    padding: 0 !important;

    form {
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      .form-section-header {
        width: 100%;
      }

      .fieldWrapper {
        width: 100%;

        @include breakpoint(large) {
          width: calc(33.33333334% - 20px);
        }

        margin: 0 10px;

        &.full-width {
          width: 100%;
        }

        &.half-width {
          width: calc(50% - 20px);
        }

        &.flex {
          display: flex;
        }

        &.flexible-dates {
          pointer-events: none;

          label {
            pointer-events: none;

          }

          input {
            pointer-events: all;
          }
        }

        &.mobile-full-width {
          @media (max-width: 768px) {
            width: 100%;
          }

          &.half-width-left-justified {
            width: 100%;

            margin-right: calc(50% + 10px);

            @media (max-width: 768px) {
              margin-right: 10px;
            }
          }
        }
      }

      .party-details {
        flex-flow: column;
        width: 100%;

        @include breakpoint(900px) {
          flex-flow: row;
        }
      }

      .party-details-header {
        width: 100%;
        margin: 0 10px;

        @include breakpoint(900px) {
          margin: 0 5px;
        }

      }

      .party-details-inner {
        margin: 0 10px;

        @include breakpoint(900px) {
          width: 100%;
          margin: 0 5px;
        }

      }

      .buttonWrapper {
        margin: 0 auto;

      }

      input[type=file] {
        border: none;
        padding: 10px 0;
      }
    }
  }

  // NOTE: hiding number input arrows
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // for Firefox
  input[type=number] {
    -moz-appearance: textfield;
  }
}
