body.homepage {
    background-color: $satin;
    .block-image_section,
    .block-split_image_text_card_section {
        @include xy-grid();
        justify-content: center;
        .image-section,
        .split-image-text-card-section  {
            @include xy-cell(10);
        }
    }
    .hotel-intro .hotel-intro-inner {
        background-color: $satin;
        .hotel-intro-inner-inner {
            @include breakpoint(tablet) {
                @include xy-cell(10);
            }
            @include breakpoint(large) {
                @include xy-cell(8);
            }
            @include breakpoint(xxlarge) {
                @include xy-cell(7);
            }
        }
    }
    .desktop-nav-bar:not(.fixed):not(.video-playing) {
        z-index: 1;
    }
    footer {
        border-top-color: $tide;
    }
    .hero-background-gradient {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), $satin);
    }
}
