body.hotels {
    background-color: $satin;
    .hero .hero-background-wrapper {
        padding-bottom: 100px;
    }
    .image-card-list {
        top: -20px;
    }
    .hero-background-gradient {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), $satin);
    }
}