//buttons scss goes here
.button {
    min-width: 152px;
    line-height: 12px !important;
    padding: 12px 22px;
    @include breakpoint(tablet) {
        min-width: 192px;
        padding: 14px 30px;
    }
    &.white, &[disabled].white {
        background-color: $white;
        color: $text-black;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
    &.black, &[disabled].black {
        background-color: $black;
        color: $white;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    &.rounded {
        border-radius: 50px;
    }
    &[disabled] {
        opacity: 0.6;
    }
}

.button-row {
    @include xy-grid('vertical');
    @include breakpoint(large) {
        @include xy-grid();
        justify-content: space-evenly;
    }
    .button {
        @include xy-cell(4);
    }
}