//buttons scss goes here
.button {
    min-width: 192px;
    line-height: 12px !important;
    padding: 14px 30px;
    &.white {
        background-color: $white;
        color: $text-black;
    }
    &.black {
        background-color: $black;
        color: $white;
    }
    &.rounded {
        border-radius: 50px;
    }
}