//colors scss goes here.

$text-black: #151515;
$text-charcoal: #52504E;
$text-light-gray: #AEA8A0;
$link-blue: #1779BA;

$pearl: #F9F7F4;
$satin: #EEEBE7;
$swirl: #E2DDD8;
$auric-gold: #FBB44C;
$tide: #BBB4AC;

$gray-bar: #46433F;

$gray-bg: #fafafa;
$green-bg: rgba(83, 90, 64, 0.9);
$auric-gold-bg: rgba(251, 180, 76, 0.85);
$accent-gray: #D3C9BE;
