//header scss goes here.
header {
    width: 100%;
    .desktop-nav-bar {
        display: none;
        @include breakpoint(large) {
            @include xy-grid();
        }
        position: fixed;
        width: 100%;
        padding: 25px 60px;
        justify-content: space-between;
        .header-link, .header-link a, .link-text-inner {
            @extend .font-c;
            @extend .font-c.size-2;
            font-weight: bold;
        }
        &:not(.fixed) {
            .on-scroll-image {
                display: none;
            }
            .header-link, .header-link a {
                color: $white;
            }
        }
        &.fixed {
            background-color: $pearl;
            .on-load-image {
                display: none;
            }
            .header-link, .header-link a {
                color: $text-charcoal;
            }
            z-index: map-get($z-index-map, z-index-nav-bar);
        }
        .left-section {
            .on-load-image {
                width: 200px;
            }
            .on-scroll-image {
                width: 90px;
            }
        }
        .right-section {
            @include xy-grid();
            align-items: center;
            .block-links {
                margin-bottom: -8px;
                .header-link {
                    padding-left: 19px;
                    padding-right: 19px;
                    padding-bottom: 0px;
                    .accented-text-wrapper {
                        padding-bottom: 8px;
                    }
                    .link-text-wrapper:not(.accented-text-wrapper) {
                        &:hover {
                            @extend .accented-text-wrapper;
                            .link-text-inner {
                                @extend .accented-text;
                                padding-left: 0 !important;
                                padding-right: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .mobile-nav-bar {
        @include xy-grid('vertical');
        @include breakpoint(large) {
            display: none;
        }
        width: 100%;
        .header-link, .header-link a {
            color: $text-black;
        }
        .mobile-nav-top {
            background-color: $pearl;
            position: fixed;
            z-index: map-get($z-index-map, z-index-nav-bar);
            width: 100%;
            @include xy-grid();
            @include breakpoint(large) {
                display: none;
            }
            justify-content: space-between;
            .left, .center, .right {
                @include xy-grid('vertical');
                justify-content: center;
            }
            .left {
                padding-left: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                width: 25%;
                @include breakpoint(tablet) { 
                    width: 33.33333%;
                }
                align-items: flex-start;
                &:hover {
                    cursor: pointer;
                }
            }
            .center {
                padding-top: 30px;
                padding-bottom: 30px;
                width: 50%;
                @include breakpoint(tablet) {
                    width: 33.33333%;
                }
                align-items: center;
                a {
                    display: inline-grid;
                }
                .on-load-image {
                    width: 150px;
                    @include breakpoint(tablet) {
                        width: 200px;
                    }
                }
            }
            .right {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 15px;
                padding-right: 15px;
                width: 25%;
                @include breakpoint(tablet) { 
                    width: 33.33333%;
                    padding-left: 0px;
                    padding-right: 30px;
                }
                align-items: flex-end;
                .header-link, .header-link a, .link-text-inner {
                    @extend .font-c;
                    @extend .font-c.size-2;
                    font-weight: bold;
                    .link-text-inner {
                        margin-top: 8px;
                    }
                }
            }
            &.dropdown-expanded {
                .left {
                    background-color: $satin;
                }
                @include breakpoint(medium down) {
                    .center {
                        background-color: $satin;
                        .on-load-image {
                            display: none;
                        }
                    }
                }
            }
        }
        // adapted from https://jsfiddle.net/ug6f918s/423/
        .menu-icon {
            cursor: pointer;
            display: inline-block;
            position: relative;
            user-select: none;
            margin: 0;
            .navicon {
                background: #333;
                display: block;
                height: 1px;
                position: relative;
                transition: background .2s ease-out;
                width: 40px;
                &:before, &:after {
                    background: #333;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                }
                &:before {
                    top: 5px;
                    width: 70%;
                }
                &:after {
                    top: -5px;
                    width: 100%;
                }
            }
        }

        .menu-btn {
            display: none;
            &:checked ~ .menu-icon .navicon {
                background: transparent;
                width: 25px;
                &:before {
                    top: 0px;
                    transform: rotate(-45deg);
                    width: 100%;
                }
                &:after {
                    transform: rotate(45deg);
                    top: 0px;
                }
            }
        }

        .menu-dropdown {
            background-color: $satin;
            max-height: 0;
            display: none;
            transition: max-height 2s ease-out;
            padding: 22px 15px 30px 15px;
            &.expanded {
                position: fixed;
                width: 100%;
                height: calc(100vh - 82px);
                top: 82px;
                max-height: unset;
                display: block;
                overflow-y: auto;
                z-index: map-get($z-index-map, z-index-nav-bar);
                @include breakpoint(tablet) {
                    width: 42%;
                }
            }
            .menu-dropdown-inner {
                position: relative;
                height: 100%;
                .mobile-links {
                    .block-links {
                        .link-text-wrapper {
                            padding: 8px 10px;
                            &:hover {
                                background-color: $auric-gold-bg;
                                .link-text-inner {
                                    font-weight: bold;
                                }
                            }
                        }
                        .header-link, .header-link a, .link-text-inner {
                            @extend .font-c;
                            @extend .font-c.size-2;
                        }
                        .link-text-inner {
                            margin-bottom: 0px;
                        }
                    }
                }
                .social-icons-row {
                    position: absolute;
                    bottom: 0;
                }
                .social-icon-link, .social-icon-link a {
                    color: $text-black;
                }
            }
        }
    }
}