@font-face {
  font-family: 'ChronicleDisplayRoman';
  src: url('../fonts/ChronicleDisplayRoman.otf') format ('otf');
}

@font-face {
  font-family: 'ChronicleDisplayBold';
  src: url('../fonts/ChronicleDisplayBold.otf') format('otf');
}

@font-face {
  font-family: 'ChronicleTextRoman';
  src: url('../fonts/ChronicleTextRoman.otf') format('otf');
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('../fonts/HelveticaNeueRegular.ttf') format('ttf');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../fonts/HelveticaNeueMedium.ttf') format('ttf');
}

@font-face {
  font-family: 'EngraversGothic';
  src: url('../fonts/EngraversGothic.ttf') format('ttf');
}

@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/londrina-outline-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Londrina Outline Regular'), local('LondrinaOutline-Regular'),
       url('../fonts/londrina-outline-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/londrina-outline-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/londrina-outline-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/londrina-outline-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/londrina-outline-v9-latin-regular.svg#LondrinaOutline') format('svg'); /* Legacy iOS */
}

h1 {
  letter-spacing: 1px;
}

p {
  font-size: unset;
  line-height: unset;
}

strong {
  font-weight: 600;
}

.error {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  transition: color 0.1s ease-out
}

select {
  -moz-appearance: none;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.accented-text {
  display: inline;
  background: linear-gradient(to bottom, transparent 60%, $auric-gold-bg 40%);
  padding-left: 5px;
  padding-right: 5px;
  &.gray {
    background: linear-gradient(to bottom, transparent 60%, $accent-gray 40%);
    .rich-text {
      display: inline;
      & > * {
        display: inline;
      }
    }
  }
  &.slim {
    background: linear-gradient(to bottom, transparent 0%, transparent 70%,
      $auric-gold-bg 70%, $auric-gold-bg 85%,
      transparent 85%, transparent 100%);
  }
}

.accent-quote-left {
  font-family: "ChronicleDisplayBold";
  font-size: 175px;
  margin-bottom: -110px;
  margin-top: -65px;
}

.background-text {
  font-family: 'Londrina Outline', cursive;
  
  color: $text-light-gray;
  letter-spacing: 40px;
  z-index: -1;
  opacity: 0.1;
  font-size: 180px;
  @include breakpoint(tablet) {
    font-size: 425px;
  }
  @include breakpoint(xxlarge) {
    font-size: 725px;
  }
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.gray-text {
  color: $text-light-gray;
}

.font-a {
  font-family: "ChronicleDisplayRoman";
  &.size-1 {
    font-size: 80px;
    letter-spacing: 0.03em;
    @include breakpoint(xxlarge) {
      font-size: 150px;
    }
  }
  &.size-2 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.025em;
    @include breakpoint(tablet) {
      font-size: 70px;
      line-height: 75px;
    }
    @include breakpoint(xxlarge) {
      font-size: 85px;
      line-height: 90px;
    }
  }
  &.size-3 {
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.025em;
    @include breakpoint(tablet) {
      font-size: 50px;
      line-height: 60px;
    }
    @include breakpoint(xxlarge) {
      font-size: 65px;
      line-height: 65px;
    }
  }
  &.size-4 {
    font-size: 25px;
    line-height: 32px;
    &.skip-tablet {
      @include breakpoint(tablet) {
        font-size: 50px;
        line-height: 60px;
      }
    }
    @include breakpoint(tablet) {
      font-size: 35px;
      line-height: 42px;
    }
    @include breakpoint(xxlarge) {
      font-size: 50px;
      line-height: 60px;
    }
  }
  &.size-5 {
    font-size: 23px;
    line-height: 31px;
    letter-spacing: 0.025em;
    @include breakpoint(tablet) {
      font-size: 32px;
      line-height: 42px;
    }
    @include breakpoint(xxlarge) {
      font-size: 40px;
      line-height: 50px;
    }
  }
  &.size-6 {
    font-size: 21px;
    line-height: 27px;
    @include breakpoint(tablet) {
      font-size: 23px;
      line-height: 30px;
    }
    @include breakpoint(xxlarge) {
      font-size: 28px;
      line-height: 35px;
    }
  }
  &.size-7 {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.025em;
    @include breakpoint(xxlarge) {
      font-size: 25px;
      line-height: 32px;
    }
  }
  &.size-8 {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.01em;
    @include breakpoint(xxlarge) {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.font-b {
  font-family: "ChronicleDisplayBold";
  &.size-2 {
    font-size: 21px;
    line-height: 27px;
    @include breakpoint(tablet) {
      font-size: 23px;
      line-height: 30px;
    }
    @include breakpoint(xxlarge) {
      font-size: 28px;
      line-height: 35px;
    }
  }
  &.size-3 {
    font-size: 18px;
    line-height: 24px;
    @include breakpoint(tablet) {
      font-size: 23px;
      line-height: 35px;
    }
  }
}

.font-c {
  font-family: "ChronicleTextRoman";
  &.size-2 {
    font-size: 15px;
    letter-spacing: 0.065em;
    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }
}

.font-d {
  font-family: "HelveticaNeueRegular";
  &.size-1 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.04em;
    @include breakpoint(tablet) {
      font-size: 18px;
      line-height: 30px;
    }
    @include breakpoint(xxlarge) {
      font-size: 19px;
      line-height: 31px;
    }
  }
  &.size-2 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    @include breakpoint(tablet) {
      font-size: 17px;
      line-height: 25px;
    }
  }
  &.size-3 {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05em;
    @include breakpoint(tablet) {
      font-size: 14px;
      line-height: 21px;
    }
    @include breakpoint(xxlarge) {
      font-size: 15px;
      line-height: 23px;
    }
  }
  &.size-4 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    @include breakpoint(tablet) {
      font-size: 13px;
      line-height: 21px;
    }
  }
  &.size-5 {
    font-size: 11px;
    letter-spacing: 0.1em;
  }
}

.font-e {
  font-family: "HelveticaNeueMedium";
  &.size-1 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.04em;
    @include breakpoint(tablet) {
      font-size: 18px;
      line-height: 30px;
    }
    @include breakpoint(xxlarge) {
      font-size: 19px;
      line-height: 31px;
    }
  }
  &.size-2 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    @include breakpoint(tablet) {
      font-size: 17px;
      line-height: 25px;
    }
  }
  &.size-3 {
    font-size: 11px;
    letter-spacing: 0.1em;
  }
}

.font-f {
  font-family: "EngraversGothic";
  &.size-1 {
    font-size: 11px;
    letter-spacing: .02em;
    line-height: 16px;
    @include breakpoint(tablet) {
      font-size: 13px;
      line-height: 23px;
    }
    @include breakpoint(xxlarge) {
      font-size: 15px;
      line-height: 25px;
    }
  }
  &.size-3 {
    font-size: 10px;
    letter-spacing: 0.3em;
  }
}
