h1 {
  letter-spacing: 1px;
}

p {
  font-size: unset;
  line-height: unset;
}

strong {
  font-weight: 600;
}

.error {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  transition: color 0.1s ease-out
}

select {
  -moz-appearance: none;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.accented-text {
  display: inline;
  background: linear-gradient(to bottom, transparent 60%, $auric-gold-bg 40%);
  padding-left: 5px;
  padding-right: 5px;
}

.semi-bold {
  font-weight: 500;
}

.font-a {
  &.size-1 {
    font-size: 80px;
    letter-spacing: 0.03em;
    @include breakpoint(large) {
      font-size: 150px;
    }
  }
  &.size-2 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.025em;
    @include breakpoint(medium) {
      font-size: 70px;
      line-height: 75px;
    }
    @include breakpoint(large) {
      font-size: 85px;
      line-height: 90px;
    }
  }
  &.size-3 {
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.025em;
    @include breakpoint(medium) {
      font-size: 50px;
      line-height: 60px;
    }
    @include breakpoint(large) {
      font-size: 65px;
      line-height: 65px;
    }
  }
  &.size-6 {
    font-size: 21px;
    line-height: 27px;
    @include breakpoint(medium) {
      font-size: 23px;
      line-height: 30px;
    }
    @include breakpoint(large) {
      font-size: 28px;
      line-height: 35px;
    }
  }
  &.size-7 {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.025em;
    @include breakpoint(large) {
      font-size: 25px;
      line-height: 32px;
    }
  }
}

.font-b {
  &.size-2 {
    font-size: 21px;
    line-height: 27px;
    @include breakpoint(medium) {
      font-size: 23px;
      line-height: 30px;
    }
    @include breakpoint(large) {
      font-size: 28px;
      line-height: 35px;
    }
  }
  &.size-3 {
    font-size: 18px;
    line-height: 24px;
    @include breakpoint(large) {
      font-size: 23px;
      line-height: 35px;
    }
  }
}

.font-c {
  &.size-2 {
    font-size: 15px;
    letter-spacing: 0.065em;
    @include breakpoint(medium) {
      font-size: 16px;
    }
  }
}

.font-d {
  &.size-1 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.04em;
    @include breakpoint(medium) {
      font-size: 18px;
      line-height: 30px;
    }
    @include breakpoint(large) {
      font-size: 19px;
      line-height: 31px;
    }
  }
  &.size-4 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    @include breakpoint(medium) {
      font-size: 13px;
      line-height: 21px;
    }
  }
}

.font-e {
  &.size-2 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    @include breakpoint(medium) {
      font-size: 17px;
      line-height: 25px;
    }
  }
}

.font-f {
  &.size-1 {
    font-size: 11px;
    letter-spacing: .2em;
    @include breakpoint(medium) {
      font-size: 13px;
    }
    @include breakpoint(large) {
      font-size: 15px;
    }
  }
  &.size-3 {
    font-size: 10px;
    letter-spacing: 0.3em;
  }
}
