{% extends "base.jinja" %}

{% block page_class %}error-page server-error{% endblock page_class %}

{% block title %}Server Error{% endblock title %}

{% block content %}
<div class="error-page-wrapper">
    <div class="error-page-inner top-accent">
        <div class="error-content">
            <div class="accented-text-wrapper">
                <h1 class="accented-text slim header font-a size-1">500</h1>
            </div>
            <h6 class="subheader font-a size-7">Uh oh...it seems our internal imaginary lumberjack has felled a tree across the path</h6>
            <h3 class="body font-d size-3">We've gotten a notification about the issue and will work to resolve it. Follow the links below to explore elsewhere in the meantime</h3>
            <div class="button-row">
                <a href="/">
                    <button class="button black rounded font-c size-2">Homepage</button>
                </a>
                <a href="/hotels">
                    <button class="button black rounded font-c size-2">Hotels</button>
                </a>
                <a href="/experiences">
                    <button class="button black rounded font-c size-2">Experiences</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}