<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block extra_head %}
    {% endblock extra_head %}
    {{ render_bundle('style') }}
    <title>Auric Road | {% block title %}{% endblock title %}</title>
    <!-- Google Tag Manager -->
    {% raw %}
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T4DSWDKX');
    </script>
    {% endraw %}
    <!-- End Google Tag Manager -->
  </head>
  <body class="{% block page_class %}{% endblock page_class %}">
      <!-- Google Tag Manager (noscript) -->
      {% raw %}
      <noscript>
        <iframe 
            src="https://www.googletagmanager.com/ns.html?id=GTM-T4DSWDKX"
            height="0" 
            width="0" 
            style="display:none;visibility:hidden">
        </iframe>
      </noscript>
      {% endraw %}
      <!-- End Google Tag Manager (noscript) -->
	  {% block extra_body %}
	  {% endblock extra_body %}

      {% include "header.jinja" %}

      <div id="main">
          {% block content %}
          {% endblock content %}
      </div> <!-- /container -->

      {% include "footer.html" %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153052199-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153052199-1');
      </script>
    {{ render_bundle('vendor_common') }}
    {{ render_bundle('js') }}
  </body>
</html>

