<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block extra_head %}
    {% endblock extra_head %}
    {{ render_bundle('style') }}
    <title>Auric Road | {% block title %}{% endblock title %}</title>
  </head>
  <body class="{% block page_class %}{% endblock page_class %}">
	  {% block extra_body %}
	  {% endblock extra_body %}

      {% include "header.jinja" %}

      <div id="main">
          {% block content %}
          {% endblock content %}
      </div> <!-- /container -->

      {% include "footer.html" %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153052199-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153052199-1');
      </script>
    {{ render_bundle('vendor_common') }}
    {{ render_bundle('js') }}
  </body>
</html>

