<header>
    {% if global_nav_exists %}
    <div class="desktop-nav-bar">
        <div class="left-section">
            <div class="on-load-image">
                <a href="/">
                    {{ image(global_nav_obj.on_load_image, "fill-500x60")}}
                </a>
            </div>
            <div class="on-scroll-image">
                <a href="/">
                  {{ image(global_nav_obj.on_scroll_image, "fill-150x150", class="scroll-image-1")}}
                  {% if global_nav_obj.on_scroll_image_2 %}
                    {{ image(global_nav_obj.on_scroll_image_2, "fill-300x36", class="scroll-image-2")}}
                  {% endif %}
                </a>
            </div>
        </div>
        <div class="right-section">
            {{ global_nav_obj.desktop_links }}
        </div>
    </div>
    <div class="mobile-nav-bar">
        <div class="mobile-nav-top">
            <div class="left">
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon"><span class="navicon"></span></label>
            </div>
            <div class="center on-load-image">
                <a href="/">
                  {{ image(global_nav_obj.on_load_mobile_image, "fill-150x150", class="on-load-image-1")}}
                  {% if global_nav_obj.on_load_mobile_image_2 %}
                    {{ image(global_nav_obj.on_load_mobile_image_2, "fill-300x36", class="on-load-image-2")}}
                  {% endif %}
                </a>
            </div>
            <div class="right">
                {{ global_nav_obj.mobile_top_nav_links }}
            </div>
        </div>
        <div class="menu-dropdown">
          <div class="menu-dropdown-inner">
              <div class="mobile-links">
                {{ global_nav_obj.mobile_links }}
              </div>
              {% if global_nav_obj.social_icons %}
                
                <div class="social-icons-row">
                  {{ global_nav_obj.social_icons }}
                </div>
              {% endif %}
          </div>
      </div>
  </div>
  {% else %}
  You need to create a Nav Bar called Global Nav Bar, in order for it to show up here
  {% endif %}
</header>

