<div class="action-card-bottom top-accent">
    {{ image(value.detail_icon, "fill-150x150")}}
    <h3 class="action-header font-b size-3">{{ value.action_header }}</h3>
    <div class="center-vertical-line double-height tide"></div>
    {% if value.action_text %}
        {% if value.action_text_type == 'phone' %}
            <a href="tel:{{value.action_text}}">
                <h1 class="font-f size-1 action-text">{{ value.action_text }}</h1>
            </a>
        {% elif value.action_text_type == 'email' %}
            <a href="mailto:{{value.action_text}}">
                <h1 class="font-f size-1 action-text">{{ value.action_text }}</h1>
            </a>
        {% else %}
            <h1 class="font-f size-1 action-text">{{ value.action_text }}</h1>
        {% endif %}
    {% endif %}
    {% if value.action_text_two %}
        {% if value.action_text_two_type == 'phone' %}
            <a href="tel:{{value.action_text_two}}">
                <h1 class="font-f size-1 action-text">{{ value.action_text_two }}</h1>
            </a>
        {% elif value.action_text_two_type == 'email' %}
            <a href="mailto:{{value.action_text_two}}">
                <h1 class="font-f size-1 action-text">{{ value.action_text_two }}</h1>
            </a>
        {% else %}
            <h1 class="font-f size-1 action-text">{{ value.action_text_two }}</h1>
        {% endif %}
    {% endif %}
    {% if value.facebook %}
        <a href="https://www.facebook.com/{{value.facebook}}">
            <h1 class="font-f size-1"><i class="fab fa-facebook-f"></i> {{ value.facebook }}</h1>
        </a>
    {% endif %}
    {% if value.instagram %}
        <a href="https://www.instagram.com/{{value.instagram|replace('@', '')}}">
            <h1 class="font-f size-1"><i class="fab fa-instagram"></i> {{ value.instagram }}</h1>
        </a>
    {% endif %}
    {% if value.twitter %}
        <h1 class="font-f size-1"><i class="fab fa-twitter"></i> {{ value.twitter }}</h1>
    {% endif %}        
    </div>