<div
    class="events-footer"
    {% if value.background_image %}
        style="background-image: url({{ value.background_image.file.url }});"
    {% endif %}
>
    <div class="static-section-header">
        <h1 class="tagline font-f size-1">{{ value.tagline|upper }}</h1>
        <div class="center-vertical-line gray"></div>
        <div class="accented-text-wrapper">
            <h3 class="accented-text header font-a size-3">{{ value.header }}</h3>
        </div>
        <h2 class="body semi-bold font-d size-2">{{ value.body|richtext }}</h2>
        <div class="button-row center-buttons">
            {% if value.button_link_text and (value.internal_page or value.external_link) %}
                <a href="{% if value.internal_page %}{{ value.internal_page.url }}{% elif value.external_link %}{{ value.external_link}}{% endif %}">
                    <button class="button orange rounded font-c size-2 {{value.petite_resort}}">{{ value.button_link_text }}</button>
                </a>
            {% endif %}
            {% if value.button_download_text and value.download_document %}
                <a href="{{ value.download_document.url }}">
                    <button class="button black rounded font-c size-2">{{ value.button_download_text }}</button>
                </a>
            {% endif %}
            {% if value.button_link_text_two and (value.internal_page_two or value.external_link_two) %}
                <a href="{% if value.internal_page_two %}{{ value.internal_page_two.url }}{% elif value.external_link_two %}{{ value.external_link_two}}{% endif %}">
                    <button class="button black rounded font-c size-2">{{ value.button_link_text_two }}</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>