<div class="fade-out-footer{% if not value.background_image %} no-bg{% endif %}">
    {% if value.background_image %}
        {{ image(value.background_image, "fill-2880x1577")}}
    {% endif %}
    {% if value.background_text %}
        <h1 class="background-text">{{ value.background_text }}</h1>
    {% endif %}
    {% if value.button_text %}
        <a class="button-wrapper" href="{% if value.internal_page %}{{ value.internal_page.url }}{% elif value.external_link %}{{ value.external_link}}{% endif %}">
            <button class="button black rounded font-c size-2">{{ value.button_text }}</button>
        </a>
    {% endif %}
</div>