<div class="floor-plan-slide">
    <div class="slide-left">
        <h5 class="font-a size-5">{{value.room_name}}</h5>
        <div class="font-d size-4">{{value.room_description}}</div>
        {{value.details}}
        {% if value.floor_plan_document and value.floor_plan_document_text %}
        <a href="{{value.floor_plan_document.url}}" class="button transparant rounded">
            {{value.floor_plan_document_text}}
        </a>
        {% endif %}
    </div>
    <div class="slide-right">
        <div class="slider">
            {% if value.floor_plan_image %}
            <div class="room-image">
                {{ image(value.floor_plan_image, "original", class="floor-plan-image")}}
            </div>
            {% endif %}
            {% if value.other_images %}
            {% for item in value.other_images %}
            <div class="room-image">
                {{ image(item, "original")}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
