<div class="floor-plan-slide">
    <div class="slide-left">
        <h5 class="font-a size-5">{{value.room_name}}</h5>
        <div class="font-d size-4">{{value.room_description}}</div>
        {{value.details}}
        {% if value.floor_plan_document and value.floor_plan_document_text %}
            <a href="{{value.floor_plan_document.url}}" class="button transparant rounded">
                {{value.floor_plan_document_text}}
            </a>
        {% endif %}
    </div>
    <div class="slide-right">
        {% if value.floor_plan_image %}
            {{ image(value.floor_plan_image, "fill-1500x1200", class="floor-plan-image")}}
        {% endif %}
    </div>
</div>