<div class="floor-plan-section top-accent
    {% if not value.more_info.source != '<p></p>' and not value.additional_document and not value.additional_document_two %}reduced-bottom-padding{% endif %}"
>
    <div class="static-section-header">
        <h1 class="tagline font-f size-1">{{ value.tagline|upper }}</h1>
        <div class="center-vertical-line gray"></div>
        <div class="accented-text-wrapper">
            <h3 class="accented-text header font-a size-3">{{ value.header }}</h3>
        </div>
        <h2 class="body semi-bold font-e size-2">{{ value.body|richtext }}</h2>
    </div>
    <div class="floor-plan-slides">
        <div class="floor-plan-slide-selector">
            {% for room in value.rooms %}
                <div id="slide-selector-{{loop.index0}}" class="slide-selector-tab {%if loop.index0 == 0%}active-floorplan-tab-selector{%endif%}">{{ room.value['room_name'] }}</div>
            {% endfor %}
        </div>
        <div class="floor-plan-slide-container">
            {% for room in value.rooms %}
                <div id="floor-plan-slide-wrapper-{{loop.index0}}" class="floor-plan-slide-wrapper {%if loop.index0 == 0%}active-floorplan-tab{%endif%}">{{ room|safe }}</div>
            {% endfor %}
        </div>
    </div>
    {% if value.more_info.source != '<p></p>' or value.additional_document or value.additional_document_two %}
        <div class="additional-info">
            <hr class="floor-plan-divider" />
            <div class="floor-plan-section-additional-info">
                {% if value.more_info %}
                    <div class="font-e size-2 bold more-info">{{ value.more_info }}</div>
                {% endif %}
                <div class="button-row center-buttons">
                    {% if value.additional_document %}
                        <a href="{{value.additional_document.url}}" class="button black rounded">
                            {{value.additional_document_text}}
                        </a>
                    {% endif %}
                    {% if value.additional_document_two %}
                        <a href="{{value.additional_document_two.url}}" class="button black rounded">
                            {{value.additional_document_two_text}}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>