<div class="full-width-image-card">
    {{ image(value.background_image, "fill-2880x1350", class="background-image")}}
    <div class="text-card">
        {% if value.text_accent_color %}
            <div class="accented-text-wrapper">
                <h1 class="accented-text gray header font-a size-4 skip-tablet">{{ value.header }}</h1>
            </div>
        {% else %}
            <h1 class="header font-a size-4 skip-tablet">{{ value.header }}</h1>
        {% endif %}
        <div class="body font-d size-2">{{ value.body }}</div>
        {% if value.accent_image %}
            {{ image(value.accent_image, "fill-115x13", class="accent-image")}}
        {% endif %}
        {% if value.button_text %}
            <a href="{% if value.internal_page %}{{ value.internal_page.url }}{% elif value.external_link %}{{ value.external_link}}{% endif %}">
                <button class="button black rounded font-c size-2">{{ value.button_text }}</button>
            </a>
        {% endif %}
    </div>
</div>