<div class="hero
{% if not value.video_only_hero %}
    {% if value.extended_bottom_padding %} extended-bottom-padding{% endif %}{% if value.reduced_padding %} reduced-padding{% endif %}{% if value.wider_desktop_layout %} wider-desktop-layout{% endif %}
{% else %}
    video-only-hero
{% endif %}
">
    {% if not value.video_only_hero %}
        <div
            class="
                hero-background-wrapper
                {% if value.show_diamond_overlay %}has-overlay{% endif %}
                {% if value.site_logos %}has-site-logos{% endif %}
                {% if value.cards %}has-cards{% endif %}
                {% if value.background_image_x_position %}x-{{value.background_image_x_position}}{% endif %}
                {% if value.background_image_y_position %}y-{{value.background_image_y_position}}{% endif %}
            "
            {% if value.background_image %}
                {% set background_image=image(value.background_image, "fill-2880x1577") %}
                {% if value.show_diamond_overlay %}
                    style="background-image: url({{ static('img/auric-diamondstroke.svg')}}), url({{ background_image.url }});"
                {% else %}
                    style="background-image: url('{{ background_image.url }}');"
                {% endif %}
            {% endif %}
        >
            {% if value.background_gradient_fade_out %}
                <div class="hero-background-gradient"></div>
            {% endif %}
            <div class="static-section-header">
                <h1 class="tagline font-f size-1">{{ value.static_tagline }}</h1>
                <div class="center-vertical-line white"></div>
                <div class="accented-text-wrapper">
                    <h2 class="accented-text header font-a size-2">{{ value.static_header }}</h2>
                </div>
                {% if value.static_body %}
                    <div class="body {% if value.body_size | int < 3 %}bold{% endif %} font-{{value.body_font}} size-{{value.body_size}}">
						{{ value.static_body|richtext }}
						{% if value.external_link %}
							<a href="{{ value.external_link }}">
								<button class="button black rounded font-c size-2">{{ value.external_link_text }}</button>
							</a>
						{% endif %}
					</div>
                {% endif %}				
            </div>
            {% if value.site_logos %}
                <div class="hero-site-logos">
                    {{ value.site_logos }}
                </div>
            {% endif %}
            {% if value.cards %}
                <div class="hero-cards">
                    {{ value.cards }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if value.hero_video_url %}
        <div class="hero-video"
            {% if value.replacement_video_load_background %}
                {% set replacement_video_load_background=image(value.replacement_video_load_background, "fill-2880x1577") %}
                style="background-image: url({{replacement_video_load_background.url}});"
            {% endif %}
        >
            {% if value.show_diamond_overlay and value.video_only_hero %}
                <img class="video-diamond-overlay" src="{{ static('img/auric-diamondstroke.svg') }}">
            {% endif %}
            <iframe id="hero-video-iframe"
                src="{{ value.hero_video_url }}"
                frameborder="0"
                allowfullscreen
                allow="autoplay; encrypted-media"
                {% if value.replacement_video_load_background %}
                    class="hide-on-load"
                {% endif %}
            ></iframe>
        </div>
    {% endif %}
    {% if value.video_only_hero %}
        <div id="play-button-wrapper">
            {% if value.hero_video_play_icon %}
                {{ image(value.hero_video_play_icon, "fill-200x200", id="video-play-button") }}
            {% else %}
                <i class="far fa-play-circle" id="video-play-button" ></i>
            {% endif %}
        </div>
    {% endif %}
</div>