<div class="hotel-intro">
    <div class="hotel-intro-inner">
        <div class="hotel-intro-inner-inner">
            {% if value.tagline_bar_style == 'horizontal' %}
                <div class="intro-show-desktop-mobile">
                    <span class="text-dash">
                        <h3 class="tagline-no-margin font-f size-1">{{ value.tagline|upper }}</h3>
                        &nbsp;&nbsp;
                        <div class="partial-horizontal-line double-width charcoal"></div>
                    </span>
                </div>
                <div class="intro-show-tablet">
                    <h1 class="tagline font-f size-1 center">{{ value.tagline|upper }}</h1>
                    <div class="center bottom-margin-tablet">
                        <div class="center-vertical-line gray"></div>
                    </div>
                </div>
            {% else %}
                <h1 class="tagline font-f size-1">{{ value.tagline|upper }}</h1>
                <div class="center-vertical-line gray"></div>
            {% endif %}
            {% if value.text_accent_color %}
                <div class="accented-text-wrapper header-wrapper">
                    <h3 class="accented-text header font-a
                        size-{% if value.header_size %}{{value.header_size}}{% else %}3{% endif %}
                    ">{{ value.header }}</h3>
                </div>
            {% else %}
                <h1 class="header font-a
                    size-{% if value.header_size %}{{value.header_size}}{% else %}3{% endif %}
                ">{{ value.header }}</h1>
            {% endif %}
            {% if value.subheader %}
                <h1 class="subheader bold font-e size-1">{{ value.subheader }}</h1>
            {% endif %}
            {% if value.subheader_2 %}
                <h1 class="subheader bold font-e size-1">{{ value.subheader_2 }}</h1>
            {% endif %}
            <h2 class="body semi-bold font-d size-1">{{ value.body|richtext }}</h2>

            {% if value.intro_video %}
                <div class="intro-video">
                    <video poster="{{ value.intro_video.thumbnail.url }}" controls>
                        <source src="{{ value.intro_video.file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endif %}
            {{ value.images }}
            {% if value.accent_image %}
                <img class="accent-image" src="{{ value.accent_image.file.url }}">
            {% endif %}
            {% if value.finer_points_header and value.finer_points_body %}
                <h1 class="finer-points-header semi-bold font-e size-1">{{ value.finer_points_header }}</h1>
                <div class="finer-points-body font-d size-3">
                    {{ value.finer_points_body }}
                </div>
            {% endif %}
            {% if value.second_body %}
                <h2 class="body semi-bold font-d size-1">{{ value.second_body|richtext }}</h2>
            {% endif %}
            {% if value.accent_image and value.finer_points_header and value.finer_points_body %}
                <img class="accent-image" src="{{ value.accent_image.file.url }}">
            {% endif %}
            {% if value.button_text %}
                <a href="{% if value.internal_page %}{{ value.internal_page.url }}{% elif value.external_link %}{{ value.external_link}}{% endif %}">
                    <button class="button black rounded font-c size-2">{{ value.button_text }}</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>