<div class="hotels-destination">
    <div class="static-section-header">
        <h1 class="tagline font-f size-1">{{ value.tagline|upper }}</h1>
        <div class="center-vertical-line gray"></div>
        <div class="accented-text-wrapper">
            <h3 class="accented-text header font-a size-3">{{ value.header }}</h3>
        </div>
        <h2 class="body semi-bold font-e size-2">{{ value.body|richtext }}</h2>
    </div>
    <div
        class="destinations-image-section"
        {% if value.background_image %}
            style="background-image: url('{{ value.background_image.file.url }}');"
        {% endif %}
    >
        {% if value.foreground_image %}
            <img src="{{ value.foreground_image.file.url }}" alt="destination" />
        {% endif %}
    </div>
</div>