<a href="{{ value.link_url }}">
    <div class="image-logo-link-card top-accent">
        {% if value.main_image %}
            <div class="main-image-wrapper">
                {{ image(value.main_image, "fill-1000x1050", class="main-image") }}
                <div class="arrow-up small pearl"></div>
            </div>
            
        {% endif %}
        {% if value.logo_image %}
            {{ image(value.logo_image, "fill-250x65", class="logo-image") }}
        {% endif %}
        <h6 class="header font-a size-7">{{ value.header }}</h6>
        <h1 class="tagline font-f size-3">{{ value.tagline }}</h1>
        {% if value.tagline_2 %}
            <h1 class="tagline font-f size-3">{{ value.tagline_2 }}</h1>
        {% endif %}

    </div>
</a>