<tr class="job-listing clickable-row" data-href="{{ value.job_document.url }}">
    <td class="font-d size-2">
        {{ value.department or '' }}
    </td>
    <td class="font-d size-2">
        {{ value.job_title }}
    </td>
    <td class="font-d size-2">
        {{ value.location or '' }}
    </td>
    <td class="font-c size-2 center">
        <a href="{{ value.job_document.url }}" class="desktop-up">Download Job Description</a>
        <i class="fas fa-download tablet-down"></i>
    </td>
    
</tr>