<div class="split-image-text-card-section {% if value.layout_style == 'image_first'%}reverse-order{% endif %}">
    <div class="split-text-card">
        {% if value.arrow_color %}
            <div style="border-top-color: {{ value.arrow_color }};" class="arrow-down satin shrinking"></div>
        {% endif %}
        {% if value.text_accent_color %}
            <div class="accented-text-wrapper">
                <h1 class="accented-text gray header font-a size-4">{{ value.header }}</h1>
            </div>
        {% else %}
            <h1 class="header font-a size-4">{{ value.header }}</h1>
        {% endif %}
        <div class="body font-d size-2">{{ value.body }}</div>
        {% if value.button_text %}
            <a href="{% if value.internal_page %}{{ value.internal_page.url }}{% elif value.external_link %}{{ value.external_link}}{% endif %}">
                <button class="button black rounded font-c size-2">{{ value.button_text }}</button>
            </a>
        {% endif %}
    </div>
    <div class="tie-bar" id="tie-bar-top"></div>
    <div class="tie-bar" id="tie-bar-bottom"></div>
    <div class="split-image-card" style="background-image: url({{ value.image.file.url }});"></div>
</div>