<div class="static-section-header{% if value.should_have_top_accent %} top-accent{% endif %}"
    {% if value.background_color %}
        style="background-color: {{value.background_color}};"
    {% endif %}
>
    {% if value.static_tagline %}
        <h1 class="tagline font-f size-1">{{ value.static_tagline }}</h1>
        <div class="center-vertical-line {% if value.should_have_top_accent %}gray{% else %}white{% endif %}"></div>
    {% endif %}
    <div class="accented-text-wrapper">
        <h2 class="accented-text header font-a size-2">{{ value.static_header }}</h2>
    </div>
    <div class="body {% if value.body_size | int < 3 %}semi-bold{% endif %} font-{{value.body_font}} size-{{value.body_size}}">{{ value.static_body|richtext }}</div>
</div>