{% extends "base.jinja" %}

{% block page_class %}events-form-page{% endblock page_class %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    {{ page.body }}
    <div class="form-section-wrapper">
        <div class="form-body">
            <div class="form-right"> 
                <form action="" method="POST">
                    {% csrf_token %}
                    <h2 class="form-section-header">Contact Details</h2>
                    {% for field in form %}
                      <div class="fieldWrapper {% if field.field.full_width %}full-width{% endif %} {% if field.field.half_width %}half-width{% endif %}">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}
                          {% if field.field.required %}*{% endif %}</label>
                        {{ field }}
                      </div>
                    {% endfor %}
                    <h2 class="form-section-header">Event Details</h2>
                    {% for field in form %}
                      <div class="fieldWrapper {% if field.field.full_width %}full-width{% endif %} {% if field.field.half_width %}half-width{% endif %}">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}
                          {% if field.field.required %}*{% endif %}</label>
                        {{ field }}
                      </div>
                    {% endfor %}
                    <div class="buttonWrapper">
                        <input class="button black rounded" type="submit" name="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}