{% extends "base.jinja" %}

{% block page_class %}guest-profile-form-page{% endblock page_class %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    {{ page.body }}
    <div class="form-section-wrapper">
        <div class="form-body">
            <div class="form-right"> 
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--must display fields manually to add headers-->
                    <!--{{ form.as_p() }}-->
                    <div class="fieldWrapper {% if form.reservation.field.full_width %}full-width{% endif %} {% if form.reservation.field.half_width %}half-width{% endif %} mobile-full-width half-width-left-justified">
                        {{ form.reservation.errors }}
                        <label for="{{ form.reservation.id_for_label }}">{{ form.reservation.field.display_label }} {% if form.reservation.field.required %}*{% endif %}</label>
                        {{ form.reservation }}
                    </div>
                    <div class="fieldWrapper {% if form.first_name.field.full_width %}full-width{% endif %} {% if form.first_name.field.half_width %}half-width{% endif %} mobile-full-width">
                        {{ form.first_name.errors }}
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.field.display_label }} {% if form.first_name.field.required %}*{% endif %}</label>
                        {{ form.first_name }}
                    </div>
                    <div class="fieldWrapper {% if form.last_name.field.full_width %}full-width{% endif %} {% if form.last_name.field.half_width %}half-width{% endif %} mobile-full-width">
                        {{ form.last_name.errors }}
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.field.display_label }} {% if form.last_name.field.required %}*{% endif %}</label>
                        {{ form.last_name }}
                    </div>
                    <div class="fieldWrapper {% if form.email.field.full_width %}full-width{% endif %} {% if form.email.field.half_width %}half-width{% endif %} mobile-full-width">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.field.display_label }} {% if form.email.field.required %}*{% endif %}</label>
                        {{ form.email }}
                    </div>
                    <div class="fieldWrapper {% if form.phone.field.full_width %}full-width{% endif %} {% if form.phone.field.half_width %}half-width{% endif %} mobile-full-width">
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.field.display_label }} {% if form.phone.field.required %}*{% endif %}</label>
                        {{ form.phone }}
                    </div>
                    <div class="fieldWrapper {% if form.number_of_adults.field.full_width %}full-width{% endif %} {% if form.number_of_adults.field.half_width %}half-width{% endif %}">
                        {{ form.number_of_adults.errors }}
                        <label for="{{ form.number_of_adults.id_for_label }}">{{ form.number_of_adults.field.display_label }} {% if form.number_of_adults.field.required %}*{% endif %}</label>
                        {{ form.number_of_adults }}
                    </div>
                    <div class="fieldWrapper {% if form.number_of_children.field.full_width %}full-width{% endif %} {% if form.number_of_children.field.half_width %}half-width{% endif %}">
                        {{ form.number_of_children.errors }}
                        <label for="{{ form.number_of_children.id_for_label }}">{{ form.number_of_children.field.display_label }} {% if form.number_of_children.field.required %}*{% endif %}</label>
                        {{ form.number_of_children }}
                    </div>
                    {% with person="adult", number="1" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="2" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="3" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="4" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="5" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="6" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="7" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="8" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="9" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="adult", number="10" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="1" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="2" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="3" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="4" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="5" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="6" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="7" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="8" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="9" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    {% with person="child", number="10" %}
                        {% include "home/guest_profile_party_options.html" %}
                    {% endwith %}
                    <div class="fieldWrapper full-width">
                        <h4>Transportation Needs</h4>
                    </div>
                    <div class="fieldWrapper {% if form.transportation.field.full_width %}full-width{% endif %} {% if form.transportation.field.half_width %}half-width{% endif %}">
                        {{ form.transportation.errors }}
                        <label for="{{ form.transportation.id_for_label }}">{{ form.transportation.field.display_label }} {% if form.transportation.field.required %}*{% endif %}</label>
                        {{ form.transportation }}
                    </div>
                    <div class="fieldWrapper renting-car {% if form.renting_car.field.full_width %}full-width{% endif %} {% if form.renting_car.field.half_width %}half-width{% endif %}" style="display: none;">
                        {{ form.renting_car.errors }}
                        <label for="{{ form.renting_car.id_for_label }}">{{ form.renting_car.field.display_label }} {% if form.renting_car.field.required %}*{% endif %}</label>
                        {{ form.renting_car }}
                    </div>
                    <div class="fieldWrapper booked-car {% if form.booked_car.field.full_width %}full-width{% endif %} {% if form.booked_car.field.half_width %}half-width{% endif %}" style="display: none;">
                        {{ form.booked_car.errors }}
                        <label for="{{ form.booked_car.id_for_label }}">{{ form.booked_car.field.display_label }} {% if form.booked_car.field.required %}*{% endif %}</label>
                        {{ form.booked_car }}
                    </div>
                    {% with direction="arrival" %}
                        {% include "home/guest_profile_flight_details.html" %}
                    {% endwith %}
                    {% with direction="departure" %}
                        {% include "home/guest_profile_flight_details.html" %}
                    {% endwith %}
                    <div class="fieldWrapper party-eta {% if form.party_eta.field.full_width %}full-width{% endif %} {% if form.party_eta.field.half_width %}half-width{% endif %} mobile-full-width half-width-left-justified" style="display: none;">
                        {{ form.party_eta.errors }}
                        <label for="{{ form.party_eta.id_for_label }}">{{ form.party_eta.field.display_label }} {% if form.party_eta.field.required %}*{% endif %}</label>
                        {{ form.party_eta }}
                    </div>
                    <div class="fieldWrapper {% if form.transportation_details.field.full_width %}full-width{% endif %} {% if form.transportation_details.field.half_width %}half-width{% endif %}">
                        {{ form.transportation_details.errors }}
                        <label for="{{ form.transportation_details.id_for_label }}">{{ form.transportation_details.field.display_label }} {% if form.transportation_details.field.required %}*{% endif %}</label>
                        {{ form.transportation_details }}
                    </div>
                    <div class="fieldWrapper full-width">
                        <h4>Dining at Horn & Cantle</h4>
                    </div>
                    <div class="fieldWrapper {% if form.dining_time.field.full_width %}full-width{% endif %} {% if form.dining_time.field.half_width %}half-width{% endif %}">
                        {{ form.dining_time.errors }}
                        <label for="{{ form.dining_time.id_for_label }}">{{ form.dining_time.field.display_label }} {% if form.dining_time.field.required %}*{% endif %}</label>
                        {{ form.dining_time }}
                    </div>
                    <div class="fieldWrapper {% if form.allergies.field.full_width %}full-width{% endif %} {% if form.allergies.field.half_width %}half-width{% endif %}">
                        {{ form.allergies.errors }}
                        <label for="{{ form.allergies.id_for_label }}">{{ form.allergies.field.display_label }} {% if form.allergies.field.required %}*{% endif %}</label>
                        {{ form.allergies }}
                    </div>
                    <div class="fieldWrapper full-width">
                        <h4>Activities</h4>
                    </div>
                    <div class="fieldWrapper {% if form.package_activites.field.full_width %}full-width{% endif %} {% if form.package_activites.field.half_width %}half-width{% endif %}">
                        {{ form.package_activites.errors }}
                        <label for="{{ form.package_activites.id_for_label }}">{{ form.package_activites.field.display_label }} {% if form.package_activites.field.required %}*{% endif %}</label>
                        {{ form.package_activites }}
                        <span style="position: relative; top: -20px;">{{ form.package_activites.help_text }}</span>
                        {% if 'Summer' in page.title %}
                            <span style="position: relative; top: -15px; margin: 0 5px; font-weight: bold;">
                                Click <a href="https://lonemountainranch.com/horse-program-faq/" target="_blank">Here</a> for our Horse Program FAQ Page
                            </span>
                        {% endif %}
                    </div>
                    {% if form.on_ranch_add_on_activities %}
                        <div class="fieldWrapper {% if form.on_ranch_add_on_activities.field.full_width %}full-width{% endif %} {% if form.on_ranch_add_on_activities.field.half_width %}half-width{% endif %}">
                            {{ form.on_ranch_add_on_activities.errors }}
                            <label for="{{ form.on_ranch_add_on_activities.id_for_label }}">{{ form.on_ranch_add_on_activities.field.display_label }} {% if form.on_ranch_add_on_activities.field.required %}*{% endif %}</label>
                            {{ form.on_ranch_add_on_activities }}
                        </div>
                    {% endif %}
                    <div class="fieldWrapper {% if form.off_ranch_add_on_activities.field.full_width %}full-width{% endif %} {% if form.off_ranch_add_on_activities.field.half_width %}half-width{% endif %}">
                        {{ form.off_ranch_add_on_activities.errors }}
                        <label for="{{ form.off_ranch_add_on_activities.id_for_label }}">{{ form.off_ranch_add_on_activities.field.display_label }} {% if form.off_ranch_add_on_activities.field.required %}*{% endif %}</label>
                        {{ form.off_ranch_add_on_activities }}
                    </div>
                    {% if form.spa_activities %}
                        <div class="fieldWrapper {% if form.spa_activities.field.full_width %}full-width{% endif %} {% if form.spa_activities.field.half_width %}half-width{% endif %}">
                            {{ form.spa_activities.errors }}
                            <label for="{{ form.spa_activities.id_for_label }}">{{ form.spa_activities.field.display_label }} {% if form.spa_activities.field.required %}*{% endif %}</label>
                            {{ form.spa_activities }}
                        </div>
                    {% endif %}
                    <div class="buttonWrapper">
                        <input class="button black rounded" type="submit" name="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}