.activity-cards {
    @include xy-cell(10);
    @include xy-grid('vertical');
    @include breakpoint(mediumsmall) {
        @include xy-grid();
    }
    .block-card {
        width: 100%;
        @include breakpoint(mediumsmall) {
            width: calc(50% - 3px);
            margin-left: 1.5px;
            margin-right: 1.5px;
        }
        @include breakpoint(medium) {
            width: calc(33.333% - 3px);
        }
        @include breakpoint(large) {
            width: calc(25% - 3px);
        }
        margin-bottom: 3px;
        .activity-card {
            max-height: 170px;
            padding: 20px;
            color: $text-charcoal;
            text-align: center;
            margin-bottom: 30px;
            @include breakpoint(large) {
                margin-bottom: 50px;
            }
            .activity {
                word-break: break-word;
            }
        }
    }
}