.block-video_section {
    @include xy-grid();
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .embed-video-section {
        @include xy-cell(10);
        .vimeo-video-wrapper {
            @include xy-grid();
            align-items: center;
            justify-content: center;
        }
    }
}