.full-width-image-wrapper {
    @include xy-grid();
    justify-content: center;
    .full-width-image-wrapper-inner  {
        @include breakpoint(large) {
            @include xy-cell(10);
        }
        .full-width-image {
            margin-top: 15px;
            width: 100%;
        }
    }
}