.hero {
    @include xy-grid('vertical');
    align-items: center;
    .static-hero {
        @include xy-grid('vertical');
        @include xy-cell(10);
        @include breakpoint(medium) {
            @include xy-cell(8);
        }
        @include breakpoint(large) {
            @include xy-cell(6);
        }
        margin-top: 180px;
        text-align: center;
        .tagline {
            margin-bottom: 11px;
        }
        .center-vertical-line {
            margin-bottom: 28px;
        }
        .header {
            margin-bottom: 36px;
        }
        .body {
            margin-bottom: 150px;
        }
    }
    .hero-video {
        margin-top: 80px;
        @include xy-cell(10);
        video {
            @include xy-cell(12);
        }
    }
}