.hero {
    @include xy-grid('vertical');
    align-items: center;
    &.extended-bottom-padding {
        margin-bottom: -340px;
        .hero-background-wrapper {
            padding-bottom: 250px;
            .static-section-header {
                margin-top: 140px;
            }
        }
    }
    &.reduced-padding {
        .hero-background-wrapper {
            .static-section-header {
                margin-top: 100px;
            }
        }
    }
    &.wider-desktop-layout {
        .static-section-header {
            @include xy-cell(10);
            @include breakpoint(medium) {
                @include xy-cell(10);
            }
            @include breakpoint(large) {
                @include xy-cell(10);
            }
        }
    }
    .hero-video {
        position: relative;
        top: -20px;
        margin-bottom: -20px;
        @include xy-cell(10);
        video {
            @include xy-cell(12);
        }
    }
    .hero-background-wrapper {
        @include xy-grid('vertical');
        width: 100%;
        align-items: center;
        padding-bottom: 90px;
        background-size: cover;
        background-position-x: center;
        &.has-overlay {
            background-size: 0%, cover;
            @include breakpoint(large) {
                background-size: auto 130%, cover;
                background-position-y: 50%, center;
            }
            @include breakpoint(xxlarge) {
                background-size: 100% auto, cover;
            }
            background-position-x: center, center;
            background-repeat: no-repeat, no-repeat;
            
        }
        .static-section-header {
            margin-top: 180px;
            .body {
                margin-bottom: 150px;
            }
            .center-vertical-line {
                margin-bottom: 28px;
            }
        }
    }
    
}