.hero {
    @include xy-grid('vertical');
    align-items: center;
    .hero-video {
        position: relative;
        top: -20px;
        margin-bottom: -20px;
        @include xy-cell(10);
        video {
            @include xy-cell(12);
        }
    }
    .hero-background-wrapper {
        @include xy-grid('vertical');
        align-items: center;
        padding-bottom: 90px;
        background-size: cover;
        background-position-x: center;
        .static-section-header {
            margin-top: 180px;
            .body {
                margin-bottom: 150px;
            }
            .center-vertical-line {
                margin-bottom: 28px;
            }
        }
    }
    
}