.hotel-intro {
    @include xy-grid();
    justify-content: center;
    .hotel-intro-inner {
        @include xy-cell(10);
        @include xy-grid('vertical');
        align-items: center;
        background-color: $gray-bg;
        padding-top: 70px;
        padding-bottom: 100px;
        .hotel-intro-inner-inner {
            @include xy-cell(7);
        }
    }
    color: $text-black;
    .tagline, .body {
        color: $text-charcoal;
        margin-bottom: 50px;
    }
    .accented-text-wrapper {
        margin-bottom: 40px;
    }
    .center-vertical-line, .text-dash {
        margin-bottom: 40px;
    }
}