.hotels-destination {
    @include xy-grid();
    justify-content: center;
    margin-top: 60px;
    @include breakpoint(tablet) {
        margin-top: 70px;
    }
    @include breakpoint(large) {
        margin-top: 100px;
    }
    .static-section-header {
        @include xy-cell(10);
        @include breakpoint(large) {
            @include xy-cell(7);
        }
        color: $text-black;
        .tagline, .body {
            color: $text-charcoal;
        }
        .body {
            margin-bottom: 0;
        }
        .center-vertical-line {
            margin-bottom: 20px;
            @include breakpoint(tablet) {
                margin-bottom: 50px;
            }
            @include breakpoint(large) {
                margin-bottom: 40px;
            }
        }
    }
    .destinations-image-section {
        margin-top: 10px;
        min-height: 400px;
        background-size: cover;
        @include xy-grid('vertical');
        align-items: center;
        justify-content: center;
        width: 100%;
        @include breakpoint(tablet) {
            min-height: 500px;
        }
        @include breakpoint(large) {
            min-height: 800px;
        }
        img {
            @include xy-cell(11);
            position: relative;
            bottom: 0;
            @include breakpoint(large) {
                @include xy-cell(9);
                position: relative;
            }
            max-width: 100vh;
            max-height: 100vh;
        }
    }
}