.hotels-list {
    margin-top: 100px;
    margin-bottom: 60px;
    @include xy-grid('vertical');
    align-items: center;
    .hotel-card {
        background-position: center;
        background-size: cover;
        position: relative;
        .arrow-down {
            position: absolute;
            top: -1px;
        }
        padding: 60px;
        color: $white;
        @include xy-cell(10);
        margin-bottom: 25px;
        h3 {
            margin-top: 25px;
            margin-bottom: 25px;
            max-width: 500px;
        }
        p {
            margin-bottom: 220px;
        }
    }
}