.hotels-destination {
    @include xy-grid();
    justify-content: center;
    margin-top: 100px;
    .static-section-header {
        color: $text-black;
        .tagline, .body {
            color: $text-charcoal;
        }
        .body {
            margin-bottom: 40px;
        }
        .center-vertical-line {
            margin-bottom: 40px;
        }
    }
    .destinations-image-section {
        margin-top: 50px;
        min-height: 800px;
    }
}