.hotels-development {
    @include xy-grid();
    justify-content: center;
    .hotels-development-inner {
        @include xy-cell(11);
        @include xy-grid('vertical');
        align-items: center;
        background-color: $gray-bg;
        padding-top: 50px;
        padding-bottom: 40px;
        @include breakpoint(tablet) {
            @include xy-cell(10);
            padding-top: 65px;
            padding-bottom: 35px;
        }
        @include breakpoint(large) {
            padding-top: 70px;
            padding-bottom: 100px;
        }
    }
    .static-section-header {
        @include xy-cell(10);
        @include breakpoint(large) {
            @include xy-cell(7);
        }
        color: $text-black;
        .tagline, .body {
            color: $text-charcoal;
        }
        .body {
            margin-bottom: 30px;
            @include breakpoint(tablet) {
                margin-bottom: 60px;
            }
            @include breakpoint(large) {
                margin-bottom: 55px;
            }
        }
        .center-vertical-line {
            margin-bottom: 15px;
            @include breakpoint(tablet) {
                margin-bottom: 30px;
            }
            @include breakpoint(large) {
                margin-bottom: 40px;
            }
        }
    }
}