.image-section {
    .image-row {
        margin-top: 5px;
        .row-half {
            @include xy-cell(12);
            &:first-of-type.full-half {
                margin-bottom: 5px;
            }
            @include breakpoint(tablet) {
                @include xy-cell(6);
                &:first-of-type.full-half {
                    margin-bottom: 0px;
                }
            }
            &.no-margin {
                width: 100%;
                @include breakpoint(tablet) {
                    width: 50%;
                }
                margin-left: 0;
                margin-right: 0;
            }
        }
        .bottom-margin {
            @include breakpoint(medium down) {
                margin-bottom: 5px;
            }
        }
        &.row-grid, .row-grid {
            @include xy-grid();
            align-items: center;
        }
        .column-grid, .row-grid {
            &.only-inner-margins {
                img:first-of-type {
                    margin-left: 0;
                    // width: calc(50% - 0.15625rem)
                }
                img:last-of-type {
                    margin-right: 0;
                    // width: calc(50% - 0.15625rem)
                }
            }
        }
        .row-grid.only-inner-margins {
            margin-bottom: 5px;
        }
        .thirds-wrapper {
            @include xy-grid();
            > * {
                align-self: center;
            }
            @include breakpoint(medium down) {
                > * {
                &:first-child {
                    margin-bottom: 5px;
                }
            }
            }
            @include breakpoint(tablet) {
                .one-third {
                    @include xy-cell(4);
                }
                .two-thirds {
                    @include xy-cell(8);
                }
            }
        }
    }
}
