.image-logo-link-cards {
    @include xy-cell(10);
    @include xy-grid('vertical');
    @include breakpoint(tablet) {
        @include xy-grid();
    }
    .block-card {
        @include xy-cell(12);
        background-color: $pearl;
        margin-bottom: 6px;
        @include breakpoint(tablet) {
            @include xy-cell(4);
        }
        @include breakpoint(xxxlarge) {
            @include xy-cell(3);
            margin-bottom: 10px;
        }
        .image-logo-link-card {
            color: $text-charcoal;
            @include xy-grid('vertical');
            padding: 10px;
            @include breakpoint(xxlarge) {
                padding: 20px 20px 40px 20px;
            }
            &:hover {
                .main-image-wrapper .main-image {
                    transform: scale(1.1);
                }
                .header {
                    color: $link-blue;
                }
            }
            .main-image-wrapper {
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                height: 0;
                padding-top: 100%;
                .main-image {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: transform 1.75s ease;
                }
                .arrow-up {
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                }
            }
            .tagline {
                font-weight: bold;
            }
            .logo-image {
                width: 33%;
                margin-bottom: 20px;
            }
        }
    }
}