.jobs-list {
    @include xy-grid();
    justify-content: center;
    margin-top: 60px;
    .jobs-list-inner {
        @include xy-cell(10);
        .list-info {
            text-align: center;
            margin-bottom: 30px;
        }
        .job-listing {
            text-align: center;
        }
        table {
            thead {
                background-color: $tide;
                color: white;
            }
            tbody {
                tr {
                    border-bottom: solid 1px $tide !important;
                    td {
                        color: $text-charcoal;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        a {
                            color: $text-charcoal;
                            &:hover {
                                color: $auric-gold;
                            }
                        }
                    }
                    &:hover {
                        background-color: $pearl;
                    }
                }
            }
        }
    }
}