.jobs-list {
    @include xy-grid();
    justify-content: center;
    margin-top: 60px;
    .jobs-list-inner {
        @include xy-cell(10);
        .list-info {
            text-align: center;
            margin-bottom: 30px;
        }
        .job-listing {
            text-align: center;
        }
        table {
            thead {
                background-color: $tide;
                color: white;
                th {
                    @include breakpoint(xlarge down) {
                        &:nth-child(1) {
                            display: none;
                        }
                    }
                    @include breakpoint(medium down) {
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: solid 1px $tide !important;
                    td {
                        color: $text-charcoal;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        a {
                            color: $text-charcoal;
                            &:hover {
                                color: $auric-gold;
                            }
                        }
                        @include breakpoint(xlarge down) {
                            &:nth-child(1) {
                                display: none;
                            }
                        }
                        @include breakpoint(medium down) {
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                        .desktop-up {
                            display: none;
                            @include breakpoint(xxlarge) {
                                display: inline-block;
                            }
                        }
                        .tablet-down {
                            display: inline-block;
                            @include breakpoint(xxlarge) {
                                display: none;
                            }
                        }
                    }
                    &:hover {
                        background-color: $pearl;
                    }
                }
            }
        }
    }
}