.text-dash {
    @include xy-grid();
    align-items: center;
    line-height: 1;
    > * {
        display: inline-block;
        margin-bottom: 0;
        margin-bottom: 0;
    }
}

.center-vertical-line {
    height: 25px;
    border-left: 1px solid;
    align-self: center;
    &.white {
        border-left-color: $white;
    }
    &.gray {
        border-left-color: $gray-bar;
    }
    &.charcoal {
        border-left-color: $text-charcoal;
    }
    &.tide {
        border-left-color: $tide;
    }
    &.double-height {
        height: 50px;
    }
}
.partial-horizontal-line {
    border-top: 1px solid $black;
    width: 25px;
    &.double-width {
        width: 50px;
    }
    &.white {
        border-top-color: $white;
    }
}

.orange-accent-wave {
    width: 86px;
    height: 10px;
    background-image: url('/media/original_images/auric-icon-wave-orange.png');
    background-size: cover;
}

.tie-bar {
    width: 55px;
    height: 6px;
    background-color: $auric-gold;
}
