.split-image-text-card-section {
    position: relative;
    margin-top: 5px;
    @include xy-grid('vertical');
    &.reverse-order {
        flex-direction: column-reverse;
        @include breakpoint(medium down) {
            .split-image-card {
                margin-bottom: 5px;
            }
        }
    }
    @include breakpoint(tablet) {
        @include xy-grid();
        &.reverse-order {
            flex-direction: row-reverse;
        }
    }
    .split-text-card,
    .split-image-card {
        @include xy-cell(12);
        @include breakpoint(tablet) {
            width: calc(50% - 0.3125rem);
            margin-right: 0.15625rem;
            margin-left: 0.15625rem;
        }
    }
    .split-text-card {
        position: relative;
        padding: 40px 20px;
        @include breakpoint(tablet) {
            padding: 40px 40px;
        }
        @include breakpoint(xxlarge) {
            padding: 80px 60px;
        }
        background-color: $pearl;
        @include xy-grid('vertical');
        align-items: flex-start;
        .arrow-down {
            position: absolute;
            top: -1px;
        }
        margin-bottom: 5px;
        @include breakpoint(tablet) {
            margin-bottom: 0;
        }
        .header {
            color: $text-black;
        }
        .body {
            margin-top: 30px;
            color: $text-charcoal;
        }
    }
    .split-image-card {
        background-size: cover;
        background-position: center center;
        min-height: 50vw;
        @include breakpoint(tablet) {
            min-height: unset;
        }
    }
    .tie-bar {
        display: none;
        
        position: absolute;
        
        &#tie-bar-top {
            top: 40px;
        }
        &#tie-bar-bottom {
            bottom: 40px;
        }
        @include breakpoint(tablet) {
            display: block;
            left: calc(50% - 15px);
        }
        @include breakpoint(xxlarge) {
            left: calc(50% - 27.5px);
        }
    }
}