.block-static_text_section {
  @include xy-grid();
    justify-content: center;  
}
.static-section-header {
    color: $white;
    @include xy-grid('vertical');
    text-align: center;
    align-items: center;
    .tagline {
        margin-bottom: 11px;
    }
    .accented-text-wrapper {
        margin-bottom: 20px;
        @include breakpoint(large) {
            margin-bottom: 36px;
        }
    }
    .body {
        @include breakpoint(xxlarge) {
            @include xy-cell(9);
        }
    }
}