.block-static_text_section {
  @include xy-grid();
    justify-content: center;  
}
.static-section-header {
    color: $white;
    @include xy-grid('vertical');
    text-align: center;
    align-items: center;
    &.top-accent {
        @include xy-cell(10);
        margin-top: 8px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: $text-black;
        .tagline {
            color: $text-charcoal;
        }
        .center-vertical-line {
            margin-bottom: 30px;
        }
    }
    &.no-tagline {
        .accented-text-wrapper {
            margin-bottom: 0;
        }
    }
    .tagline {
        margin-bottom: 11px;
    }
    .accented-text-wrapper {
        margin-bottom: 20px;
        @include breakpoint(large) {
            margin-bottom: 36px;
        }
    }
    .body {
        @include breakpoint(xxlarge) {
            @include xy-cell(9);
        }
    }
}